@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");
@font-face {
  font-family: 'Digital-7';
  src: url("Digital-7.ttf.woff") format("woff"), url("Digital-7.ttf.svg#Digital-7") format("svg"), url("Digital-7.ttf.eot"), url("Digital-7.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
}

body {
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}

header, footer {
  text-align: center;
  display: none;
}

#calculadora {
  width: 420px;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
  height: auto;
  background: #ece5d3;
  background: -webkit-gradient(linear, left top, right top, from(#ece5d3), color-stop(51%, #d6caba), to(#d0c4b4));
  background: linear-gradient(90deg, #ece5d3 0%, #d6caba 51%, #d0c4b4 100%);
}

#calculadora .aux-topo-calc .topo-calc {
  background: url("../imagens/bkg-topo-calc.jpg") repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px 20px;
  padding-bottom: 10px;
  border-radius: 10px 10px 0px 0px;
}

#calculadora .aux-topo-calc .topo-calc .info-target {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  opacity: .8;
}

#calculadora .aux-topo-calc .topo-calc .info-target h2 {
  font-size: 1.1em;
  margin: 5px 0 5px 0;
}

#calculadora .aux-topo-calc .topo-calc .info-target p {
  font-size: .8em;
  text-transform: uppercase;
  line-height: 1em;
}

#calculadora .medidor {
  width: 65%;
}

#calculadora .medidor .omedidor {
  background-color: #666;
  border: 3px solid #282F4B;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  box-shadow: 2px -1px 19px 6px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 2px -1px 19px 6px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 2px -1px 19px 6px rgba(0, 0, 0, 0.75) inset;
}

#calculadora .medidor p {
  text-align: right;
  margin-top: 10px;
  color: #A66782;
  font-weight: bold;
  font-size: .85em;
}

#calculadora .encaps-display-calc {
  padding: 20px;
  background-color: #F6F5F3;
  border: 2px solid #D3CBBE;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 5px 5px 10px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 10px -10px rgba(0, 0, 0, 0.75);
}

#calculadora .encaps-display-calc .aux-display-calc {
  border: 1px solid #CFC7BA;
  padding: 12px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px -10px rgba(0, 0, 0, 0.75) inset;
          box-shadow: 5px 5px 10px -10px rgba(0, 0, 0, 0.75) inset;
}

#calculadora .encaps-display-calc .aux-display-calc .display-calc {
  background-color: #A2B4BE;
  border-top: 5px;
  border-bottom: 5px;
  border-left: 15px;
  border-right: 15px;
  border-color: #756C67;
  border-style: solid;
  -webkit-box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.75) inset;
          box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.75) inset;
  padding: 10px 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
  text-align: right;
}

#calculadora .encaps-display-calc .aux-display-calc .display-calc p {
  font-family: 'Digital-7';
  font-weight: bold;
  font-size: 2.8em;
  color: #333;
  opacity: .7;
  font-style: italic;
  letter-spacing: .09em;
}

#calculadora .linha-funcoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 10px 10px rgba(229, 218, 190, 0.7) inset;
          box-shadow: 2px 2px 10px 10px rgba(229, 218, 190, 0.7) inset;
  border-radius: 34px;
  margin-top: 15px;
  padding: 10px 15px;
}

#calculadora .linha-funcoes .btn:first-child {
  margin-left: 0px;
}

#calculadora .linha-funcoes .btn:last-child {
  margin-right: 0px;
}

#calculadora .numeros {
  margin-top: 5px;
}

#calculadora .numeros .linha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: 100%;
  clear: both;
  padding: 7px 15px;
  padding-bottom: 5px;
}

#calculadora .numeros .linha .btn:first-child {
  margin-left: 0px;
}

#calculadora .numeros .linha .btn:last-child {
  margin-right: 0px;
}

#calculadora .btn {
  margin: 0px 10px;
  border-radius: 5px;
  padding: 2px;
}

#calculadora .btn button {
  font-size: 1.1em;
  min-width: 50px;
  padding: 7px 0px;
  background-color: #858390;
  border-radius: 5px;
  color: #fff;
  border: 0;
  -webkit-box-shadow: 2px 2px 2px 1px black;
          box-shadow: 2px 2px 2px 1px black;
}

#calculadora .btn button:hover {
  -webkit-box-shadow: 1px 1px 1px 1px black;
          box-shadow: 1px 1px 1px 1px black;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */